__pycache__/
.vscode/
broken_images/
our_broken_images/
checkpoints/
result/
checkpoints_3/
checkpoints_xception/
checkpoints_xception_thay_hoang/
checkpoints-celeb/
checkpoints-photo-celeb/
pre-trainedModels/
model/