__pycache__/
.vscode/
broken_images/
our_broken_images/
checkpoints/
result/
checkpoints_3/
checkpoints_xception/
checkpoints_xception_thay_hoang/
checkpoints-celeb/
checkpoints-photo-celeb/
pre-trainedModels/
model/
inference_yoloface.py
video_inference_yoloface.py
webcam_inference_yoloface.py
server.py
SERVER_static/